* {
    margin: 0;
    padding: 0;
}

.body {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)60%, rgba(0, 0, 0, 0.6)50%), url(dc.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navigation {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.Icons {
    width: 200px;
    float: left;
    height: 70px;
}

.sub {
    color: rgb(3, 191, 248);
    font-size: 35px;
    font-family: 'Lucida Console';
    padding-left: 10px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu {
    width: 400px;
    float: left;
    height: 60px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 40px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Brush Script MT';
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: rgb(3, 191, 248);
}

.search {
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #fff;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.button {
    width: 100px;
    height: 40px;
    background: #fff;
    border: 2px solid #fff;
    margin-top: 13px;
    color: black;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

.button:hover {
    color: rgb(3, 191, 248);
}

.button:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.discreption {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.discreption .paragraph {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: fantasy;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.discreption h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.discreption .contact {
    width: 260px;
    height: 40px;
    background: #fff;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.discreption .contact a {
    text-decoration: none;
    color: rgb(14, 124, 250);
    transition: .3s ease;
}

.contact:hover {
    background-color: rgb(3, 191, 248);
}

.discreption span {
    color: rgb(3, 191, 248);
    font-size: 65px
}

.box {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%, -5%);
    border-radius: 10px;
    padding: 25px;
}

.box h2 {
    width: 220px;
    font-family: 'Lucida Sans';
    text-align: center;
    color: rgb(3, 191, 248);
    font-size: 25px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.box input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid rgb(3, 191, 248);
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: 'Georgia';
}

.box input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    font-family: fantasy;
}

.button2 {
    width: 240px;
    height: 40px;
    background: rgb(3, 191, 248);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.button2:hover {
    background: #fff;
    color: rgb(3, 191, 248);
}

.button2 a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.box .add {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.box .add a {
    text-decoration: none;
    color: rgb(3, 191, 248);
}

.loginwith {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.social a {
    text-decoration: none;
    color: #fff;
}

.social ion-icon {
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.social ion-icon:hover {
    color: rgb(3, 191, 248);
}